*{
	padding: 0;
	margin: 0;
}
#d0{
	width: 470px;
	height: 600px;
	background-color: #555450;
	 margin: 80px auto;
}
#d1{
	width: 420px;
	color: #fff;
    font:42px/60px "微软雅黑";
	margin: 0 auto;
}
#d2{
	width:420px;
	margin: 0 auto;
	font:20px/40px "微软雅黑";
	color: #429ce3;
}
.d3{
	font-size: 0;
}
#d31{
	font-size:20px;	
	display: inline-block;
	width: 330px;
	margin-left: 25px;
	line-height: 30px;
	color: #dddddc;
}
#d32,#d33{
	text-align: center;
	cursor: pointer;
	color: #fff;
	display: inline-block;
	width: 30px;
	font-size:20px;	
	line-height: 30px;	
	margin:0 5px 0 5px;
}
li{
	float: left;
	display: inline-block;
	width: 60px;
	height: 40px;
	text-align: center;
	font-size:20px;
	color: #fff;
}
#d4{
	width: 440px;
	margin: 0 auto;	
}
#d5{
	width: 440px;
	margin: 0 auto;	
}
span{
	float: left;
	display: inline-block;
	width: 60px;
	height: 50px;
	text-align: center;
	font-size:22px;
	color:#fff;
	line-height: 50px;
}
